/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "./full-banner.css";
@import "./product.css";

:root {
  --black: #111;
  --gray: #757575;
  --white: #fff;
  --light-gray: #d7d7d7;
}

@font-face {
  font-family: "Bebas Neue 700";
  src: url("../fonts/BEBASNEUE\ BOLD.otf");
}

@font-face {
  font-family: "Bebas Neue 400";
  src: url("../fonts/BEBASNEUE\ REGULAR.otf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
}

.container {
  position: relative;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 24px;
  /* z-index: 1; */
}

.section_mini_name {
  font-size: 15px;
  line-height: 18px;
  color: var(--gray);
  text-transform: uppercase;
}

.section_main_text {
  font-family: "Bebas Neue 700";
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  text-transform: uppercase;
}

.section_main_big_text {
  font-family: "Bebas Neue 700";
  font-size: 68px;
  line-height: 80px;
  letter-spacing: 0.4px;
  color: var(--black);
  text-transform: uppercase;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* margin-inline: 24px; */
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: -1;
}

.background div {
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--light-gray);
}

.background div:last-child {
  border-right: 1px solid var(--light-gray);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.header_inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 110px;
  padding-inline: 0px;
}

.header_blured {
  background-color: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(46.5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.hamburger_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 14px 0;
  width: 40px;
}

.hamburger span {
  width: 40px;
  height: 1px;
  background-color: var(--white);
  transition: 0.3s;
}

.rotate45deg {
  position: absolute;
  transform: rotate(45deg);
  background-color: #000;
}

.rotate-45deg {
  position: absolute;
  transform: rotate(-45deg);
}

.logo {
  position: relative;
  width: 85px;
  height: 60px;
  display: inline-block;
  transition: 0.3s;
}

.header_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 24px;
}

.mobileBorder {
  border-right: 1px solid rgba(199, 199, 199, 0.4);
  height: 100%;
}

.mobileBorder:last-child {
  border-right: none;
}

.langChanger {
  background: none;
  padding-right: 12px;
  display: none;
  transition: 0.3s;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: none;
  color: var(--black);
}

.langChanger:focus {
  outline: none;
}

.header_phone {
  font-family: "Bebas neue 700";
  font-size: 24px;
  line-height: 20px;
  color: var(--white);
  display: inline-block;
  margin-top: 6px;
  transition: 0.4s;
}

.header_phone:hover {
  text-shadow: 3px 3px 20px rgba(255, 255, 255, 0.6);
  color: #f6f6f6;
  transition: 0.4s;
}

.header_icon {
  width: 24px;
  height: 24px;
  color: var(--white);
  transition: 0.3s;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile_header {
  display: none;
  transition: 0.3s;
  animation: fadeIn 0.3s ease;
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  z-index: 4;
}

.mobile_header_inner {
  padding-inline: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--white);
}

.mobile_header_mobile {
  display: none;
}

.mobile_nav {
  border-right: 1px solid rgba(199, 199, 199, 0.4);
  padding-inline: 24px;
  padding-top: 40px;
}

.mobile_nav:last-child {
  border-right: none;
}

.mobile_navigation {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-block: 35px;
}

.mobile_nav_title {
  font-size: 15px;
  line-height: 18px;
  color: var(--gray);
  text-transform: uppercase;
  border-bottom: 1px solid rgba(199, 199, 199, 0.4);
  padding-bottom: 18px;
}

.mobile_nav_link {
  font-size: 15px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  width: fit-content;
}

/* === FORM === */
.form_section {
  background-color: #f6f6f6;
}

.form_section .section_mini_name {
  color: rgba(17, 17, 17, 0.8);
}

.form_inner {
  display: grid;
  grid-template-columns: 0.45fr 0.65fr;
  padding-block: 70px;
  gap: 25px;
}

.form_info_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_info_midText {
  font-family: "Bebas Neue 700";
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  text-transform: uppercase;
}

.form_info_bottomText {
  font-size: 18px;
  line-height: 32px;
  color: rgba(17, 17, 17, 0.8);
  /* color: var(--gray); */
}

.form_section_form {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
}

.form_section_form input {
  padding: 24px 30px;
  border: 1px solid var(--gray);
}

.form_section_form input:focus,
.form_section_form button:focus,
.form_section_form textarea:focus {
  outline: none;
}

.form_section_form button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  gap: 15px;
  padding: 20px;
  width: 100%;
  border: 1px solid var(--black);
  background: none;
  cursor: pointer;
  transition: 0.3s;
  color: var(--black);
}

.form_section_form button:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.arrow {
  width: 32px;
  height: 24px;
}

/* === MAP === */
.map_section iframe {
  width: 100% !important;
  height: 500px !important;
  border: none !important;
  filter: invert(90%);
}

/* === FOOTER === */
footer {
  background-color: #f6f6f6;
}

.footer_inner {
  padding-block: 80px;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  gap: 40px;
}

.footer_content_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ft_keyValue {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ft_key_text {
  color: var(--gray);
  font-size: 15px;
  line-height: 18.5px;
  text-transform: uppercase;
}

.ft_value_text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
}

.company_desc {
  font-size: 18px;
  line-height: 32px;
  color: var(--gray);
}

.ft_social_media {
  display: flex;
  align-items: center;
  gap: 40px;
}

.ft_icon {
  width: 24px;
  height: 24px;
  color: var(--black);
}

.ft_link_div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.ft_link {
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  border-left: 1px solid #000;
  padding-inline: 14px;
}

.ft_link:first-child {
  padding-left: 0;
  border-left: none;
}

.ft_link:last-child {
  padding-right: 0;
  border-right: none;
}

.ft_link:hover {
  text-decoration: underline;
}

/* === TOP-BANNER === */
.topBanner_section {
  position: relative;
  width: 100%;
  max-height: 660px;
  height: 100%;
  /* border: 1px solid red; */
}

.topBanner_section .background div {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.topBanner_section .background div:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.topBanner_section .logo {
  color: var(--white);
}

.topBanner_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: -1;
}

.topBanner_section > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.desktop_banner {
  display: block;
}

.mobile_banner {
  display: none;
}

.topBanner_inner {
  height: calc(660px - 110px);
  padding-top: 110px;
  padding-bottom: 48px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topBanner_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.topBanner_nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topBanner_nav_element {
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.topBanner_main_text {
  font-family: "Bebas Neue 700";
  font-size: 94px;
  line-height: 94px;
  color: var(--white);
  max-width: 600px;
  width: 100%;
  text-transform: uppercase;
}

.topBanner_bottom_text {
  font-size: 15px;
  line-height: 18px;
  color: var(--white);
}

.centeredBtn_div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-inline: 24px;
}

.centeredBtn {
  display: inline-block;
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid var(--black);
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  transition: 0.3s;
  background-color: unset;
}

.centeredBtn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.centeredBtn:active {
  transform: scale(0.95);
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .footer_inner {
    grid-template-columns: 1fr;
  }
  .map_section iframe {
    height: 400px !important;
  }
  .header_info {
    gap: 24px;
  }
  .section_main_big_text {
    font-size: 56px;
    line-height: 70px;
  }
  .form_section_form input,
  .form_section_form button {
    padding: 0px 20px;
  }
}

@media (max-width: 1024px) {
  .topBanner_main_text {
    font-size: 80px;
    line-height: 80px;
  }
  .section_main_text {
    font-size: 32px;
    line-height: 32px;
  }
  .header_info {
    padding-right: 14px;
    gap: 20px;
  }
  .header_blured {
    padding-inline: 14px;
  }
  .header_phone {
    font-size: 18px;
    line-height: 24px;
  }
  .section_main_big_text {
    font-size: 48px;
    line-height: 60px;
  }
  .form_inner {
    grid-template-columns: 1fr;
    padding-block: 55px;
  }
  .form_section_form input,
  .form_section_form button {
    padding: 20px 30px;
  }
  .form_info_bottomText {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 880px) {
  .centeredBtn_div {
    margin-inline: 54px;
  }
  .header_inner {
    grid-template-columns: 1fr;
    height: auto;
  }
  .header_blured {
    padding-block: 16px;
  }
  .mobileBorder {
    border-right: none;
  }
  .mobile_header_mobile {
    display: block;
  }
  .mobile_header_inner,
  .header_info {
    display: none;
  }
  .container {
    padding-inline: 40px;
  }
  .background {
    grid-template-columns: 40px 1fr 40px;
  }
  .background div:first-child {
    border-left: none;
  }
  .background div:last-child {
    border-right: none !important;
  }
  .topBanner_content,
  .topBanner_bottom_text {
    padding-inline: 14px;
  }
  .topBanner_inner {
    padding-top: 92px;
  }
  .mobile_header {
    top: 92px;
    animation: none;
  }
  .mobile_header_mobile_inner {
    background-color: var(--white);
    border-top: 1px solid rgba(199, 199, 199, 0.4);
  }
  .header_phone {
    color: var(--black);
    margin-top: 4px;
  }
  .langChanger {
    display: block;
  }
  .header_info_mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    color: var(--black);
    padding: 20px 14px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.4);
  }
  .accordion-button {
    padding: 20px 14px !important;
    color: var(--gray) !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .accordion-button span {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--gray);
    text-transform: uppercase;
  }
  .header_phone {
    font-size: 20px;
    line-height: 24px;
  }
  .chevron_down {
    width: 24px;
    height: 24px;
    transition: 0.3s;
    transform: rotate(180deg);
  }
  .accordion-button.collapsed .chevron_down {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .accordion-button::after {
    display: none;
  }
  .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  .accordion-button:not(.collapsed) {
    background: none !important;
    color: var(--gray) !important;
  }
  .accordion-body {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
  }
  .accordion_link {
    display: inline-block;
    padding: 18px 14px;
    font-weight: 500;
    background-color: #f6f6f6;
    color: var(--black);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    border-top: 1px solid rgba(199, 199, 199, 0.4);
  }
  .mobile_hidden {
    display: none;
  }
  .form_section_form {
    display: flex;
    flex-direction: column;
  }
  .form_info_div {
    gap: 16px;
  }
}

@media (max-width: 580px) {
  .section_mini_name {
    font-size: 12px;
    line-height: 15px;
  }
  .map_section iframe {
    height: 300px !important;
  }
  .footer_inner {
    padding-block: 40px;
  }
  .topBanner_main_text {
    font-size: 48px;
    line-height: 48px;
  }
  .header_info_mobile {
    gap: 24px;
  }
  .desktop_banner {
    display: none;
  }
  .mobile_banner {
    display: block;
  }
  .section_main_big_text {
    font-size: 32px;
    line-height: 48px;
  }
  .form_info_div {
    gap: 10px;
  }
  .form_info_bottomText {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .header_info_mobile {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 12px;
    align-items: flex-start;
  }
  .header_phone {
    grid-row: span 3 / span 3;
    width: 100%;
    text-align: end;
    margin-top: 0px;
  }
}
