/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --black: #111;
  --gray: #757575;
  --white: #fff;
  --light-gray: #d7d7d7;
  /* --light-gray: #f6f6f6; */
}

@font-face {
  font-family: "Bebas Neue 700";
  src: url("../fonts/BEBASNEUE\ BOLD.otf");
}

@font-face {
  font-family: "Bebas Neue 400";
  src: url("../fonts/BEBASNEUE\ REGULAR.otf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
}

.container {
  position: relative;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 24px;
  /* z-index: 1; */
}

.section_mini_name {
  font-size: 15px;
  line-height: 18px;
  color: var(--gray);
  text-transform: uppercase;
}

.section_main_text {
  font-family: "Bebas Neue 700";
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  text-transform: uppercase;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* margin-inline: 24px; */
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: -1;
}

.background div {
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--light-gray);
}

.background div:last-child {
  border-right: 1px solid var(--light-gray);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.header_inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 110px;
  padding-inline: 0px;
}

.header_blured {
  background-color: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(46.5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.hamburger_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 14px;
}

.hamburger span {
  width: 40px;
  height: 1px;
  background-color: var(--white);
  transition: 0.3s;
}

.rotate45deg {
  position: absolute;
  transform: rotate(45deg);
  background-color: #000;
}

.rotate-45deg {
  position: absolute;
  transform: rotate(-45deg);
}

.logo {
  position: relative;
  width: 85px;
  height: 60px;
  display: inline-block;
  transition: 0.3s;
}

.header_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 24px;
}

.mobileBorder {
  border-right: 1px solid rgba(199, 199, 199, 0.4);
  height: 100%;
}

.mobileBorder:last-child {
  border-right: none;
}

.header_phone {
  font-family: "Bebas neue 700";
  font-size: 24px;
  line-height: 20px;
  color: var(--white);
  display: inline-block;
  margin-top: 6px;
  transition: 0.4s;
}

.header_phone:hover {
  text-shadow: 3px 3px 20px rgba(255, 255, 255, 0.6);
  transition: 0.4s;
}

.header_icon {
  width: 24px;
  height: 24px;
  color: var(--white);
  transition: 0.3s;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile_header {
  display: none;
  transition: 0.3s;
  animation: fadeIn 0.3s ease;
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  z-index: 4;
}

.mobile_header_inner {
  padding-inline: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--white);
}

.mobile_nav {
  border-right: 1px solid rgba(199, 199, 199, 0.4);
  padding-inline: 24px;
  padding-top: 40px;
}

.mobile_nav:last-child {
  border-right: none;
}

.mobile_navigation {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-block: 35px;
}

.mobile_nav_title {
  font-size: 15px;
  line-height: 18px;
  color: var(--gray);
  text-transform: uppercase;
  border-bottom: 1px solid rgba(199, 199, 199, 0.4);
  padding-bottom: 18px;
}

.mobile_nav_link {
  font-size: 15px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  width: fit-content;
}

/* === FORM === */
.form_section {
  background-color: #f6f6f6;
}

.form_inner {
  display: grid;
  grid-template-columns: 0.45fr 0.65fr;
  padding-block: 70px;
  gap: 25px;
}

.form_info_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_info_midText {
  font-family: "Bebas Neue 700";
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  text-transform: uppercase;
}

.form_info_bottomText {
  font-size: 18px;
  line-height: 32px;
  color: var(--gray);
}

.form_section_form {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
}

.form_section_form input {
  padding: 24px 30px;
  border: 1px solid var(--gray);
}

.form_section_form input:focus,
.form_section_form button:focus {
  outline: none;
}

.form_section_form button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  gap: 15px;
  padding: 20px;
  width: 100%;
  border: 1px solid var(--black);
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.form_section_form button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.arrow {
  width: 32px;
  height: 24px;
}

/* === MAP === */
.map_section iframe {
  width: 100% !important;
  height: 500px !important;
  border: none !important;
  filter: invert(90%);
}

/* === FOOTER === */
footer {
  background-color: #f6f6f6;
}

.footer_inner {
  padding-block: 80px;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  gap: 40px;
}

.footer_content_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ft_keyValue {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ft_key_text {
  color: var(--gray);
  font-size: 15px;
  line-height: 18.5px;
  text-transform: uppercase;
}

.ft_value_text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
}

.company_desc {
  font-size: 18px;
  line-height: 32px;
  color: var(--gray);
}

.ft_social_media {
  display: flex;
  align-items: center;
  gap: 40px;
}

.ft_icon {
  width: 24px;
  height: 24px;
  color: var(--black);
}

.ft_link_div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.ft_link {
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  border-left: 1px solid #000;
  padding-inline: 14px;
}

.ft_link:first-child {
  padding-left: 0;
  border-left: none;
}

.ft_link:last-child {
  padding-right: 0;
  border-right: none;
}

.ft_link:hover {
  text-decoration: underline;
}

/* === TOP-BANNER === */
.topBanner_section {
  position: relative;
  width: 100%;
  max-height: 660px;
  height: 100%;
  /* border: 1px solid red; */
}

.topBanner_section .background div {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.topBanner_section .background div:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.topBanner_section .logo {
  color: var(--white);
}

.topBanner_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: -1;
}

.topBanner_section > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.topBanner_inner {
  height: calc(660px - 110px);
  padding-top: 110px;
  padding-bottom: 48px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topBanner_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.topBanner_nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topBanner_nav_element {
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.topBanner_main_text {
  font-family: "Bebas Neue 700";
  font-size: 94px;
  line-height: 94px;
  color: var(--white);
  max-width: 600px;
  width: 100%;
  text-transform: uppercase;
}

.topBanner_bottom_text {
  font-size: 15px;
  line-height: 18px;
  color: var(--white);
}

@media (max-width: 1200px) {
  .footer_inner {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 580px) {
  .container {
    padding-inline: 40px;
  }
}
